<!DOCTYPE html>
<html ng-app="thingkit-client">
<head>
	<title>Thingkit client</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
	<script src="/js/thingkit-client.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/thingkit-client.min.css"/>
</head>
<body>
<div ng-controller="ClientController">

	<div ng-if="BAG_STOLEN">
		<img src="https://media.giphy.com/media/NIY4hibxe63Uk/giphy.gif">
	</div>

	<div ng-if="lastEventNode">
		lastEventNode: {{lastEventNode}}
		<br/>
		lastEvent: {{lastEvent|json}}
	</div>
</div>

</div>
</body>
</html>
