<div>


	<div class="container">
		<h1 class="text-center login-title">
			<img src="/assets/thingkit_464x164.jpg"/>
		</h1>
		<div class="avatar">
			<div class="card hovercard">
				<div class="cardheader"></div>

				<div class="avatar">
					<img ng-src="{{getAuth().profileImageURL}}"/>
				</div>
				<div class="info">
					<div class="title">
						<a>{{getAuth().email}}</a>
					</div>
					<a class="desc" ng-click="logout()">
						logout
					</a>

				</div>
			</div>
		</div>

		<table class="table table-striped custab">
			<col width="25%">
			<col width="15%">
			<col width="35%">
			<col width="20%">

			<thead>
			<a class="btn btn-primary btn-xs pull-right" ng-click="addApp()"><b>+</b> Add new app</a>
			</thead>
			<tbody ng-repeat="(appId, app) in apps">
			<tr>
				<td>Application id: {{appId}}</td>
				<td></td>
				<td>{{app.name}}</td>
				<td class="text-center">
					<a class='btn btn-info btn-xs' ng-click="addNodeApp(appId)">
						<span class="glyphicon glyphicon-edit"></span> Add node
					</a>
					<a class="btn btn-danger btn-xs" ng-click="removeApp(appId)">
						<span class="glyphicon glyphicon-remove"></span> Remove app
					</a>
				</td>
			</tr>
			<tr ng-repeat="(nodeId, node) in app.nodes">
				<td></td>
				<td>Node id: {{node.id}}</td>
				<td>{{node.name}}</td>
				<td class="text-center">
					<a class="btn btn-danger btn-xs" ng-click="removeNodeApp(appId, nodeId)">
						<span class="glyphicon glyphicon-remove"></span> Remove node
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>


	<script type="text/ng-template" id="addApp.tpl">
		<div class="modal-header">
			<h3 class="modal-title">Add your application</h3>
		</div>
		<div class="modal-body">
			<label>App name</label>
			<input type="text" class="form-control" ng-model="app.name">
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="$close(app)">Add</button>
			<button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
		</div>
	</script>

	<script type="text/ng-template" id="addNodeApp.tpl">
		<div class="modal-header">
			<h3 class="modal-title">Add node to application</h3>
		</div>
		<div class="modal-body">
			<label>Node name</label>
			<input type="text" class="form-control" ng-model="node.name">
			<label>Node id</label>
			<input type="text" class="form-control" ng-model="node.id">
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="$close(node)">Add</button>
			<button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
		</div>
	</script>
</div>